@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Rubik+Mono+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Google Sans", sans-serif;
}

#banner {
  width: 100%;
  padding: 0px;
}

#banner-mobile {
  display: none;
}

#collage {
  width: 100%;
  padding: 0px;
}

#main {
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
}


.topnav {
overflow: hidden;
width: 100%;
display: table;
text-align: center;
padding-top: 2%;
padding-bottom: 1.3%;
}

.topnav a {
  display: inline-block;
  float: none;
  padding: 1% 3% 2% 3%;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  color: #646464;
}

.topnav a:hover {
/*color: #8899bb;*/
  color: #6eb65f;
}

.topnav a.selected {
color: #6eb65f;
}

.topnav .icon {
display: none;
}

#portrait {
    float: left;
    margin: 3% 4% 2% 0%;
    clear:both;
}

img.responsive {
  width: 25%;
  padding-right: 2%;
}

div.aboutme {
  display: inline-block;
}

p, ol {
  font-size: 20px;
  font-weight: normal;
}

h1, h2, h3, h4, h5, p, ol {
 /* font-family: "Google Sans", sans-serif;*/
    font-family: "Google Sans", sans-serif;
}

h1 {
  font-size: 45px;
  /*font-family: Verdana;*/
  font-weight: normal;
}

h2 {
  font-size: 35px;
/*  font-family: Verdana;*/
  font-weight: normal;
}

.link {
  color: #000000;
  font-size: 20px;
  text-decoration: underline;
}

.link:hover {
  color: #6eb65f;
}

.projlink {
  color: #6eb65f;
  text-decoration: none;

}

.projlink:hover {
  color: #000000;
  text-decoration: underline;
}

.container h2{
  font-size: 18pt;
}

.skills {
  break-inside: avoid;
  page-break-inside: avoid;

  float: left;
  width: 50%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.skills p {
  display: block;
  font-size: 20px;
  font-weight: normal;
 /* font-family: Arial;*/
  padding: 1%;
  line-height: 2;
  text-align: left;
}

.list p {
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: left;
}

.mediums {
  columns: 2;
  /* float: left; */
  column-width: 50%;
  display: block;
  font-size: 20px;
  font-weight: normal;
  /*font-family: Arial;*/
  line-height: 2;
  text-align: left;

}

.socials {
  padding-top: 3%;
  padding-bottom: 3%;
}

.socials a{
  font-size: 24px;
  color: #000000;
  padding-right: 6%;
}

.socials a:hover {
  color: #6eb65f;
}

@media (max-width: 1000px) {
  #portrait {
    height: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  #main {
    /* margin:0 auto; */
    /* position:relative; */
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {

#main {
  margin: 3%;
  padding: 3%;
}

  #banner {
    display: none;
  }

  #banner-mobile, #collage {
    display: inline-block;
    width: 100%;
  }

  #portrait {
    height: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

 .skills {
   width: 100%;
 }

.socials {
  overflow: hidden;
  width: 100%;
  display: table;
  text-align: center;

}

 .socials a {
   font-size: 40px;
   padding-left: 6%;
   padding-right: 6%;
 }

}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}

.topnav a{
  float: left;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

}
